<div class="cart-container">
    <div class="cart-header">
        <div class="heading">Cart <img src="assets/cart.png" alt="Cart Image"></div>
        <div class="close" (click)="closeCart()">x</div>
    </div>
    <div class="cart-body">
        <div class="cart-items" *ngIf="finalCart.length > 0">
            <div class="item-name detail">Item</div>
            <div class="item-name quantity">Quantity</div>
            <div class="item-name price">Price</div>
        </div>
        <div class="cart-item" *ngFor="let item of finalCart">
            <div class="detail">
                <div class="name">{{ item.name }}</div>
                <div class="price">{{ item.price }}</div>
            </div>
            <div class="qty">{{ item.qty }}</div>
            <div class="price">Price: {{ item.price }}</div>
        </div>
    </div>
</div>